.bloque-texto-b i:last-of-type
  vertical-align: top
.jumbotron-4
	padding: 2rem 1rem 
	margin-bottom: 2rem 
	background-color: #f5e1db
	border-radius: .3rem
.img-jumbotron-padding
	 padding: 1rem
	 background-size: cover
